<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{/fragments/header :: head}"></div>
    <title>Ticket Dashboard</title>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar('ticket')}"></nav>
    </header>
    <main>
        <div class="container">
            
            <!-- Messaggio di creazione, modifica o cancellazione ticket -->
            <th:block th:if="${successMessage != null}">
                <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
                    <span th:text="${successMessage}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </th:block>

            <!-- Form di ricerca ticket per titolo -->
            <div class="my-4 d-flex justify-content-between">
                <!-- Bottone creazione ticket -->
                <a class="btn btn-success" th:href="@{/ticket/create}" sec:authorize="hasAuthority('ADMIN')">Apri ticket</a>

                <!-- Form di ricerca -->
                <form class="ms-auto" th:action="@{/ticket}" method="get">
                    <div class="input-group">
                        <input name="keyword" th:value="${keyword}" class="form-control" type="search"
                            placeholder="Cerca ticket" aria-label="Cerca ticket">
                        <button class="btn btn-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>

            <!-- Messaggio no ticket -->
            <div th:if="${list.isEmpty()}">
                <div class="alert alert-dark my-3" role="alert">
                    Non sono presenti ticket
                </div>
            </div>

            <!-- Tabella ticket -->
             <div th:unless="${list.isEmpty()}">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titolo</th>
                            <th>Data apertura</th>
                            <th>Ultima modifica</th>
                            <th>Stato</th>
                            <th>Priorità</th>
                            <th>
                                <!-- Dettagli -->
                            </th>
                            <th>
                                <!-- Modifica -->
                            </th>
                            <th>
                                <!-- Elimina -->
                            </th>
                        </tr>
                        <tbody>
                            <tr th:each="ticket : ${list}" class="row-hover">
                                <td th:text="${ticket.id}"></td>
                                <td th:text="${ticket.title}"></td>
                                <td th:text="${ticket.startDate}"></td>
                                <td th:text="${ticket.lastUpdate}"></td>

                                <!-- Gestione badge in base allo status -->
                                <td th:if="${ticket.ticketStatus == 'Da fare'}">
                                    <div class="badge bg-secondary" th:text="${ticket.ticketStatus}"></div>
                                </td>
                                <td th:if="${ticket.ticketStatus == 'In corso'}">
                                    <div class="badge bg-info" th:text="${ticket.ticketStatus}"></div>
                                </td>
                                <td th:if="${ticket.ticketStatus == 'Completato'}">
                                    <div class="badge bg-success" th:text="${ticket.ticketStatus}"></div>
                                </td>

                                <!-- Gestione badge in base alla priorità -->
                                <td th:if="${ticket.priority == 'Alta'}">
                                    <div class="badge bg-danger" th:text="${ticket.priority}"></div>
                                </td>
                                <td th:if="${ticket.priority == 'Media'}">
                                    <div class="badge bg-warning" th:text="${ticket.priority}"></div>
                                </td>
                                <td th:if="${ticket.priority == 'Bassa'}">
                                    <div class="badge bg-info" th:text="${ticket.priority}"></div>
                                </td>

                                <!-- Dettagli ticket -->
                                <td>
                                    <a class="btn btn-primary mx-1" th:href="@{|/ticket/show/${ticket.id}|}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
                                            <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2z"/>
                                            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z"/>
                                        </svg>
                                    </a>
                                </td>
                                <!-- Modifica ticket -->
                                <td>
                                    <a class="btn btn-primary mx-1" th:href="@{|/ticket/edit/${ticket.id}|}" sec:authorize="hasAuthority('ADMIN')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                        </svg>
                                    </a>
                                </td>
                                 <!-- Elimina ticket -->
                                  <td>
                                    <form action="#" th:action="@{'/ticket/delete/{id}'(id=${ticket.id})}" method="post" onclick="return confirm('Vuoi eliminare il ticket?')"
                                            sec:authorize="hasAuthority('ADMIN')">
                                        <button class="btn btn-danger mx-1" type="submit" id="submitButton">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </button>
                                    </form>
                                  </td>
                            </tr>
                        </tbody>
                    </thead>
                </table>
             </div>

        </div>
    </main>
    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
</body>

</html>