<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{/fragments/header :: head}"></div>
    <title>Dettagli ticket</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar('ticket')}"></nav>
    </header>
    <main>
        <div class="container my-3" th:object="${ticket}">

            <!-- Messaggio di creazione o modifica ticket -->
            <th:block th:if="${successMessage != null}">
                <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
                    <span th:text="${successMessage}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </th:block>

            <div class="row">
                <!-- Colonna sinistra -->
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">Informazioni Ticket</div>
                        <div class="card-body">
                        <p><strong>ID:</strong> <span th:text="*{id}"></span></p>
                        <p><strong>Titolo:</strong> <span th:text="*{title}"></span></p>

                        <!-- Gestione dinamica dello stile in base alla priorità -->
                        <p th:if="${ticket.ticketStatus == 'Da fare'}">
                            <strong>Stato:</strong> <span class="badge bg-secondary" th:text="*{ticketStatus}"></span>
                        </p>
                        <p th:if="${ticket.ticketStatus == 'In corso'}">
                            <strong>Stato:</strong> <span class="badge bg-info" th:text="*{ticketStatus}"></span>
                        </p>
                        <p th:if="${ticket.ticketStatus == 'Completato'}">
                            <strong>Stato:</strong> <span class="badge bg-success" th:text="*{ticketStatus}"></span>
                        </p>
                        
                        <!-- Gestione dinamica dello stile in base alla priorità -->
                        <p th:if="${ticket.priority == 'Alta'}">
                            <strong>Priorità:</strong> <span class="badge bg-danger" th:text="*{priority}"></span>
                        </p>
                        <p th:if="${ticket.priority == 'Media'}">
                            <strong>Priorità:</strong> <span class="badge bg-warning" th:text="*{priority}"></span>
                        </p>
                        <p th:if="${ticket.priority == 'Bassa'}">
                            <strong>Priorità:</strong> <span class="badge bg-info" th:text="*{priority}"></span>
                        </p>

                        <!-- TODO implementare con Spring Security -->
                        <p><strong>Operatore:</strong> Mario Rossi</p>
                        <p><strong>Data creazione:</strong> <span th:text="*{startDate}"></span></p>
                        <p><strong>Ultima modifica:</strong> <span th:text="*{lastUpdate}"></span></p>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">Descrizione</div>
                        <div class="card-body">
                        <p th:text="*{description}"></p>
                        </div>
                    </div>

                    <!-- shortcut bottoni per gestire il ticket -->
                    <div class="d-flex">
                        <form action="" method="post">
                            <button class="btn btn-outline-success mx-1" type="submit">Aggiungi nota</button>
                        </form>
                        <a class="btn btn-outline-primary mx-1" th:href="@{|/ticket/edit/${ticket.id}|}"> Modifica </a>
                        <form action="#" th:action="@{'/ticket/delete/{id}'(id=${ticket.id})}" method="post" onclick="return confirm('Confermi di voler eliminare il ticket?')">
                            <button class="btn btn-outline-danger mx-1" type="submit" id="submitButton"> Elimina </button>
                        </form>
                        <a class="btn btn-outline-secondary mx-1" th:href="@{/ticket}">Indietro</a>
                    </div>
                </div>

                <!-- Colonna destra -->
                <div class="col-md-8">

                    <!-- TODO implementare le note -->
                    <div class="card mb-3">
                        <div class="card-header">Note</div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aperto — 16/05/2025 14:22</li>
                        <li class="list-group-item">Preso in carico da Mario Rossi — 16/05/2025 14:50</li>
                        <li class="list-group-item">[In attesa di chiusura]</li>
                        </ul>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">Note</div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aperto — 16/05/2025 14:22</li>
                        <li class="list-group-item">Preso in carico da Mario Rossi — 16/05/2025 14:50</li>
                        <li class="list-group-item">[In attesa di chiusura]</li>
                        </ul>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">Note</div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aperto — 16/05/2025 14:22</li>
                        <li class="list-group-item">Preso in carico da Mario Rossi — 16/05/2025 14:50</li>
                        <li class="list-group-item">[In attesa di chiusura]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
</body>
</html>