<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{/fragments/header :: head}"></div>
    <title>Dettagli ticket</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar('ticket')}"></nav>
    </header>
    <main>
        <div class="container" th:object="${ticket}">

            <!-- Messaggio di creazione, modifica o cancellazione ticket -->
            <th:block th:if="${successMessage != null}">
                <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
                    <span th:text="${successMessage}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </th:block>

            <div class="row my-4">
                <!-- Colonna sinistra -->
                <div class="col-md-4">
                    <div class="card mb-3 row-hover">
                        <div class="card-header">Informazioni Ticket</div>
                        <div class="card-body">
                        <p><strong>ID:</strong> <span th:text="*{id}"></span></p>
                        <p><strong>Titolo:</strong> <span th:text="*{title}"></span></p>

                        <!-- Gestione dinamica dello stile in base alla priorità -->
                        <p th:if="${ticket.ticketStatus == 'Da fare'}">
                            <strong>Stato:</strong> <span class="badge bg-secondary" th:text="*{ticketStatus}"></span>
                        </p>
                        <p th:if="${ticket.ticketStatus == 'In corso'}">
                            <strong>Stato:</strong> <span class="badge bg-info" th:text="*{ticketStatus}"></span>
                        </p>
                        <p th:if="${ticket.ticketStatus == 'Completato'}">
                            <strong>Stato:</strong> <span class="badge bg-success" th:text="*{ticketStatus}"></span>
                        </p>
                        
                        <!-- Gestione dinamica dello stile in base alla priorità -->
                        <p th:if="${ticket.priority == 'Alta'}">
                            <strong>Priorità:</strong> <span class="badge bg-danger" th:text="*{priority}"></span>
                        </p>
                        <p th:if="${ticket.priority == 'Media'}">
                            <strong>Priorità:</strong> <span class="badge bg-warning" th:text="*{priority}"></span>
                        </p>
                        <p th:if="${ticket.priority == 'Bassa'}">
                            <strong>Priorità:</strong> <span class="badge bg-info" th:text="*{priority}"></span>
                        </p>

                        <!-- Categoria -->
                        <p><Strong>Categoria: </Strong>
                            <span th:if="${ticket.category != null}" th:text="*{category.categoryName}"></span>
                            <span th:if="${ticket.category == null}">Nessuna</span>
                        </p>

                        <p><strong>Operatore:</strong> <span th:text="*{operatore.username}"></span></p>
                        <p><strong>Data creazione:</strong> <span th:text="*{startDate}"></span></p>
                        <p><strong>Ultima modifica:</strong> <span th:text="*{lastUpdate}"></span></p>
                        </div>
                    </div>

                    <div class="card mb-3 row-hover">
                        <div class="card-header">Descrizione</div>
                        <div class="card-body">
                        <p th:text="*{description}"></p>
                        </div>
                    </div>

                    <!-- shortcut bottoni per gestire il ticket -->
                    <div class="d-flex">
                        <a class="btn btn-outline-success mx-1" th:href="@{|/ticket/${ticket.id}/note|}"> Aggiungi nota </a>
                        <a class="btn btn-outline-primary mx-1" th:href="@{|/ticket/edit/${ticket.id}|}" sec:authorize="hasAuthority('ADMIN')"> Modifica </a>
                        <!-- ! Bottone modifica status per OPERATOR -->
                        <a class="btn btn-outline-primary mx-1" th:href="@{|/ticket/edit/status/${ticket.id}|}" sec:authorize="hasAuthority('OPERATOR')"> Aggiorna stato </a>
                        <form action="#" th:action="@{'/ticket/delete/{id}'(id=${ticket.id})}" method="post" onclick="return confirm('Confermi di voler eliminare il ticket?')"
                                sec:authorize="hasAuthority('ADMIN')">
                            <button class="btn btn-outline-danger mx-1" type="submit" id="submitButton"> Elimina </button>
                        </form>
                        <a class="btn btn-outline-secondary mx-1" th:href="@{/ticket}">Indietro</a>
                    </div>
                </div>

                <!-- Colonna destra per le note -->
                <div class="col-md-8">
                    <div class="card mb-3 row-hover" th:if="${ticket.note.size() > 0}" th:each="note : ${ticket.note}">
                        <div class="card-header">Note</div>
                        <div class="card-body">
                            <h6><Strong>Data creazione: </Strong><span th:text="${note.creationDate}"></span></h6>
                            <h6><Strong>Autore: </Strong><span th:text="${note.author.username}"></span></h6>
                            <p class="card-text my-3" th:text="${note.noteField}"></p>

                            <!-- Buttons -->
                             <div class="card-body d-flex justify-content-start">
                                <!-- Modifica -->
                                <a class="btn btn-primary mx-3" th:href="@{|/note/edit/${note.id}|}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                    </svg>
                                </a>

                                <!-- Elimina -->
                                <form th:action="@{'/note/delete/{id}'(id=${note.id})}" method="post" onclick="return confirm('Sei sicuro?')">
                                    <button class="btn btn-danger mx-3" type="submit" id="submitButton">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </button>
                                </form>
                             </div>
                            
                        </div>
                    </div>

                    <!-- Messaggio note non presenti -->
                    <div th:unless="${ticket.note.size() > 0}">
                        <div class="alert alert-primary mt-3">
                            Non ci sono note.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
</body>
</html>